@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
  background: linear-gradient(to bottom,#371778,#060d45,#000);
  height: 100vh;
}

.Header {
  background: linear-gradient(to bottom,#060d45, #9691f2);
  color: white;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  font-family: 'Permanent Marker';
}
